<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Thank you for your order!</h1>

    <h2>Your Order:</h2>
    <p><strong>Pizza Type:</strong> {{ pizza_type }}</p>
    <p><strong>Pizza Size:</strong> {{ pizza_size }}</p>
    <p><strong>Side Item 1:</strong> {{ side_item1 if side_item1 != '0' else 'None' }}</p>
    <p><strong>Side Item 2:</strong> {{ side_item2 if side_item2 != '0' else 'None' }}</p>
    <p><strong>Drink:</strong> {{ drink if drink != '0' else 'None' }}</p>
    <p><strong>Total Price:</strong> ${{ total_price }}</p>

    <h2>Order Submission Time:</h2>
    <p>{{ order_date }}</p>

    <h2>Estimated Completion Time:</h2>
    <p>{{ estimated_time }} (in {{ estimated_time_minutes }} minutes)</p>


    <a href="/index">Go to Your Previous Orders</a><br><br>

</body>
</html>
 